<?php
    /** @var $this Ess_M2ePro_Block_Adminhtml_Common_Amazon_Account_Edit_Tabs_Repricing */
?>

<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    if (typeof M2ePro == 'undefined') {
        M2ePro = {};
        M2ePro.url = {};
        M2ePro.formData = {};
        M2ePro.customData = {};
        M2ePro.text = {};
    }

    M2ePro.url.add(<?php echo json_encode(array_merge(
        Mage::helper('M2ePro')->getControllerActions(
            'adminhtml_common_amazon_account_repricing',
            array(
                'id' => $this->getRequest()->getParam('id')
            )
        )
    ))?>);

    M2ePro.translator.add(<?php echo json_encode(array(
        'Unlink Repricing Tool' => Mage::helper('M2ePro')->__('Unlink From Repricing Tool')
    )); ?>);
    //-----------------------------

</script>

<div id="block_notice_amazon_accounts_repricing" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Repricing Tool'); ?>">
    <?php
    echo Mage::helper('M2ePro')->__('
        You can use a <strong>Repricing Tool</strong> developed by M2E Pro Team. This Tool allows to improve the position of your offer.
        It will <strong>review</strong> your Competitors\' pricing and <strong>change</strong> your Product prices accordingly.<br/><br/>

        To start working with the Tool you should Add the information about your M2E Pro Amazon Account to the Repricing Service and Link it
        by clicking on the Button <strong>Link or Register Now</strong>. Futher, you will need to complete the Wizard which allows
        Setting Up all necessary data.<br/><br/>

        After your Account is successfully Linked, you will be able to review the information about the Products which are automatically
        managed by the Repricer. Also, <strong>Additional Options</strong> of Automatic Product Adding and Editing become available.
        To use them you should switch your Listing to the Seller Central View Mode and select the appropriate Option in the Actions bulk
        at the top of the Grid.<br/><br/>

        In case you decide to <strong>Stop</strong> using the Repricing Tool for M2E Pro Listings, you can click on <strong>Unlink</strong> Button.
        It will break the Connection between your M2E Pro Amazon Account and Repricing Service.
    ');
    ?>
</div>

<div class="entry-edit" id="magento_block_amazon_accounts_repricing_general">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('General'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Account'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <?php if (!$this->isRepricingLinked) { ?>
                            <?php echo Mage::helper('M2ePro')->__('Not Set'); ?>&nbsp;
                            <button type="button" onclick="AmazonAccountHandlerObj.linkOrRegisterRepricing()"><?php echo Mage::helper('M2ePro')->__('Link of Register Now'); ?></button>
                        <?php } else { ?>
                            <?php echo $this->repricingData['email']; ?>&nbsp;
                            [ <a href="javascript:void(0)" onclick="AmazonAccountHandlerObj.unlinkRepricing()"><?php echo Mage::helper('M2ePro')->__('unlink'); ?></a> ]
                            <br/>
                            <a href="javascript:void(0)" onclick="AmazonAccountHandlerObj.openManagement()"><?php echo Mage::helper('M2ePro')->__('Go to Manager Tool'); ?></a>

                            <div id="repricing_unlink_popup" style="display: none">
                                <div style="margin: 10px 0;">
                                    <p><?php echo Mage::helper('M2ePro')->__('Are you sure?'); ?></p>
                                </div>
                                <div style="text-align: right; margin: 10px 0;">
                                    <button type="button" onclick="AmazonAccountHandlerObj.openUnlinkPage()"><?php echo Mage::helper('M2ePro')->__('Yes'); ?></button>
                                    &nbsp;&nbsp;
                                    <button type="button" onclick="Windows.getFocusedWindow().close()"><?php echo Mage::helper('M2ePro')->__('No'); ?></button>
                                </div>
                            </div>
                        <?php } ?>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<?php if ($this->isRepricingLinked) { ?>
<div class="entry-edit" id="magento_block_amazon_accounts_repricing_additional">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Additional'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Total Products'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <span id="repricing_total_products"><?php echo $this->repricingData['info']['total_products']?></span>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('This is a total number of Products managed by the Repricing Tool Linked to your M2E Pro Amazon Account.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('M2E Pro Products'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <span id="m2epro_repricing_total_products"><?php echo $this->m2eproRepricingProducts ?></span>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('This is a number of Products managed by the Repricing Tool in your M2E Pro.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                    </td>
                    <td class="value" style="width: auto;">
                        <button type="button" onclick="AmazonAccountHandlerObj.synchRepricing()"><?php echo Mage::helper('M2ePro')->__('Synchronize'); ?></button>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('
                                This Option allows you to <strong>Synchronize</strong> M2E Pro and Repricer Inventory. For example, if you manually
                                Add new Products to the Repricer <strong>not via</strong> M2E Pro, you need to <strong>notify</strong> M2E Pro that
                                these Products are now automatically managed by the Repricing Service. By Synchronizing data you will let M2E Pro
                                know that these Products are currently <strong>being Updated</strong> by the Tool.
                            '); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>
<?php } ?>
