<div id="block_notice_amazon_template_selling_format" class="block_notices_module" title="<?php echo Mage::helper('M2ePro')->__('Selling Format Policy'); ?>">
    <?php echo Mage::helper('M2ePro')->__('
        Selling Format Policy contains Price and Quantity related data for the Items, which will be Listed on Amazon.<br/><br/>

        While Listing on Amazon, the Magento Price can be modified by providing a Price Change Value. There is a Price
        Change box next to each Price Options Dropdown.<br/><br/>

        <strong>Examples:</strong><br/>

        <ul class="list">
            <li>If you want the Price on Amazon to be greater by 15% than the Price in Magento, you should set +15% in the Price Change field.<br/>
            <i>Amazon Price = Magento Price + Magento Price * 0.15</i></li>
            <li>If you want the Price on Amazon to be less by 10 Currency units than the Price in Magento, you should set -10 in the Price Change field.<br/>
            <i>Amazon Price = Magento Price - 10</i></li>
            <li>If you want the Price on Amazon to be multiplied by coefficient 1.2, you should set 1.2 in the Price Change field.<br/>
            <i>Amazon Price = Magento Price * 1.2</i></li>
        </ul>

        <strong>Note:</strong> If the Special Price is chosen in the <strong>Price</strong> Option, but it is not set in Magento
        Product Settings or has already expired, the Product Price will be used instead.<br/>
        If the Special Price is chosen in the <strong>Sale Price</strong> Option, its Magento <strong>From</strong>, <strong>To</strong> dates will be taken into
        consideration. Once the Sale Price has expired, the Price will be used.<br/>
        If those dates are not specified, the <strong>Sale Price</strong> will be set <strong>From</strong> this moment <strong>To</strong>
        the year ahead.<br/><br/>

        <strong>Note:</strong> Attributes must contain only Numeric Values.<br/><br/>
        More detailed information about ability to work with this Page you can find <a href="%url%" target="_blank">here</a>.',
        Mage::helper('M2ePro/Module_Support')->getDocumentationUrl(NULL, NULL, 'x/-IIVAQ')); ?>
</div>

<?php
    $formData = Mage::helper('M2ePro/Data_Global')->getValue('temp_data') ? Mage::helper('M2ePro/Data_Global')->getValue('temp_data')->toArray() : array();

    $default = array(
        'title' => '',

        'qty_mode' => Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_PRODUCT,
        'qty_custom_value' => 1,
        'qty_custom_attribute' => '',
        'qty_percentage' => 100,
        'qty_modification_mode' => Ess_M2ePro_Model_Amazon_Template_SellingFormat::QTY_MODIFICATION_MODE_OFF,
        'qty_min_posted_value' => Ess_M2ePro_Model_Amazon_Template_SellingFormat::QTY_MIN_POSTED_DEFAULT_VALUE,
        'qty_max_posted_value' => Ess_M2ePro_Model_Amazon_Template_SellingFormat::QTY_MAX_POSTED_DEFAULT_VALUE,

        'price_mode' => Ess_M2ePro_Model_Template_SellingFormat::PRICE_PRODUCT,
        'price_coefficient' => '',
        'price_custom_attribute' => '',

        'map_price_mode' => Ess_M2ePro_Model_Template_SellingFormat::PRICE_NONE,
        'map_price_custom_attribute' => '',

        'sale_price_mode' => Ess_M2ePro_Model_Template_SellingFormat::PRICE_NONE,
        'sale_price_coefficient' => '',
        'sale_price_custom_attribute' => '',

        'price_variation_mode' => Ess_M2ePro_Model_Amazon_Template_SellingFormat::PRICE_VARIATION_MODE_PARENT,

        'sale_price_start_date_mode' => Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_VALUE,
        'sale_price_end_date_mode' => Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_VALUE,

        'sale_price_start_date_custom_attribute' => '',
        'sale_price_end_date_custom_attribute' => '',

        'sale_price_start_date_value' => Mage::helper('M2ePro')->getCurrentGmtDate(false, 'Y-m-d'),
        'sale_price_end_date_value' => Mage::helper('M2ePro')->getCurrentGmtDate(false, 'Y-m-d'),

        'price_vat_percent' => 0
    );

    $formData = array_merge($default, $formData);

    if ($formData['sale_price_start_date_value'] != '') {
        $formData['sale_price_start_date_value'] = Mage::helper('M2ePro')->getDate(
            $formData['sale_price_start_date_value'],false,'Y-m-d'
        );
    }
    if ($formData['sale_price_end_date_value'] != '') {
        $formData['sale_price_end_date_value'] = Mage::helper('M2ePro')->getDate(
            $formData['sale_price_end_date_value'],false,'Y-m-d'
        );
    }

    /** @var Ess_M2ePro_Helper_Magento_Attribute $magentoAttributeHelper */
    $magentoAttributeHelper = Mage::helper('M2ePro/Magento_Attribute');

    $attributesByInputTypes = array(
        'text' => $magentoAttributeHelper->filterByInputTypes($this->attributes, array('text')),
        'text_select' => $magentoAttributeHelper->filterByInputTypes($this->attributes, array('text', 'select')),
        'text_price' => $magentoAttributeHelper->filterByInputTypes($this->attributes, array('text', 'price')),
        'text_date' => $magentoAttributeHelper->filterByInputTypes($this->attributes, array('text', 'date')),
    );

    $isEdit = !!$this->getRequest()->getParam('id');
?>

<script type="text/javascript">

    // General for all tabs
    //-----------------------------
    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Template_SellingFormat'); ?>,
        'Ess_M2ePro_Model_Template_SellingFormat'
    );

    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Model_Amazon_Template_SellingFormat'); ?>,
        'Ess_M2ePro_Model_Amazon_Template_SellingFormat'
    );

    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Helper_Component_Amazon'); ?>,
        'Ess_M2ePro_Helper_Component_Amazon'
    );

    M2ePro.php.setConstants(
        <?php echo Mage::helper('M2ePro')->getClassConstantAsJson('Ess_M2ePro_Block_Adminhtml_Common_Amazon_Template_SellingFormat_Edit_Form'); ?>,
        'Ess_M2ePro_Block_Adminhtml_Common_Amazon_Template_SellingFormat_Edit_Form'
    );

    M2ePro.url.add(<?php echo json_encode(array(
        'formSubmit'    => $this->getUrl('M2ePro/adminhtml_common_amazon_template_sellingFormat/save', array('id' => $this->getRequest()->getParam('id'))),
        'formSubmitNew' => $this->getUrl('M2ePro/adminhtml_common_amazon_template_sellingFormat/save'),
        'deleteAction'  => $this->getUrl('M2ePro/adminhtml_common_template_sellingFormat/delete', array('id' => $this->getRequest()->getParam('id')))
    )); ?>);

    M2ePro.translator.add(<?php echo json_encode(array(
        'QTY' => Mage::helper('M2ePro')->__('QTY'),

        'Product Price for Amazon Listing(s).' => Mage::helper('M2ePro')->__('Product Price for Amazon Listing(s).'),
        'The Price of Products in Amazon Listing(s).<br/><b>Note:</b> The Final Price is only used for Simple Products.' => Mage::helper('M2ePro')->__('The Price of Products in Amazon Listing(s).<br/><b>Note:</b> The Final Price is only used for Simple Products.'),

        'The Price, at which you want to sell your Product(s) at specific time.' => Mage::helper('M2ePro')->__('The Price, at which you want to sell your Product(s) at specific time.'),
        'The Price, at which you want to sell your Product(s) at specific time.<br/><b>Note:</b> The Final Price is only used for Simple Products.' => Mage::helper('M2ePro')->__('The Price, at which you want to sell your Product(s) at specific time.<br/><b>Note:</b> The Final Price is only used for Simple Products.'),

        'Add Selling Format Policy.' => Mage::helper('M2ePro')->__('Add Selling Format Policy.'),
        'The specified Title is already used for other Policy. Policy Title must be unique.' => Mage::helper('M2ePro')->__('The specified Title is already used for other Policy. Policy Title must be unique.'),
        'You should select Attribute Sets first and press Confirm Button.' => Mage::helper('M2ePro')->__('You should select Attribute Sets first and press Confirm Button.'),
        'Coefficient is not valid.' => Mage::helper('M2ePro')->__('Coefficient is not valid.'),

        'Wrong value. Only integer numbers.' => Mage::helper('M2ePro')->__('Wrong value. Only integer numbers.'),
        'Wrong value. Must be no more than 30. Max applicable length is 6 characters, including the decimal (e.g., 12.345).' => Mage::helper('M2ePro')->__('Wrong value. Must be no more than 30. Max applicable length is 6 characters, including the decimal (e.g., 12.345).')
    )); ?>);

    M2ePro.formData.id = '<?php echo $this->getRequest()->getParam('id'); ?>';
    M2ePro.formData.title = '<?php echo Mage::helper('M2ePro')->escapeJs(Mage::helper('M2ePro')->escapeHtml($formData['title'])); ?>';

    M2ePro.formData.qty_mode = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['qty_mode']); ?>';
    M2ePro.formData.qty_modification_mode = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['qty_modification_mode']); ?>';
    M2ePro.formData.qty_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['qty_custom_attribute']); ?>';
    M2ePro.formData.price_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['price_custom_attribute']); ?>';
    M2ePro.formData.map_price_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['map_price_custom_attribute']); ?>';
    M2ePro.formData.sale_price_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['sale_price_custom_attribute']); ?>';
    M2ePro.formData.sale_price_start_date_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['sale_price_start_date_custom_attribute']); ?>';
    M2ePro.formData.sale_price_end_date_custom_attribute = '<?php echo Mage::helper('M2ePro')->escapeJs($formData['sale_price_end_date_custom_attribute']); ?>';

    Event.observe(window, 'load', function() {
        AmazonTemplateSellingFormatHandlerObj = new CommonAmazonTemplateSellingFormatHandler();

        $('qty_mode')
             .observe('change', AmazonTemplateSellingFormatHandlerObj.qty_mode_change)
             .simulate('change');

        $('qty_modification_mode')
             .observe('change', AmazonTemplateSellingFormatHandlerObj.qtyPostedMode_change)
             .simulate('change');

        $('price_mode')
            .observe('change', AmazonTemplateSellingFormatHandlerObj.price_mode_change)
            .simulate('change');

        $('map_price_mode')
            .observe('change', AmazonTemplateSellingFormatHandlerObj.map_price_mode_change)
            .simulate('change');

        $('sale_price_start_date_mode')
            .observe('change', AmazonTemplateSellingFormatHandlerObj.sale_price_start_date_mode_change)
            .simulate('change');

        $('sale_price_end_date_mode')
            .observe('change', AmazonTemplateSellingFormatHandlerObj.sale_price_end_date_mode_change)
            .simulate('change');

        $('sale_price_mode')
            .observe('change', AmazonTemplateSellingFormatHandlerObj.sale_price_mode_change)
            .simulate('change');

        $('price_increase_vat_percent')
            .observe('change', AmazonTemplateSellingFormatHandlerObj.price_increase_vat_percent_mode_change)
            .simulate('change');

        editForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl(); ?>');
    });
    //-----------------------------

</script>

<style type="text/css">
    .coef {
        padding-left: 5px !important;
        padding-top: 5px !important;
    }
    .coef input {
        text-align: right;
        width: 36px;
    }
    .form-list td.label {
        width: 275px;
    }
</style>

<form id="<?php echo $this->getForm()->getId(); ?>" action="<?php echo $this->getForm()->getData('action'); ?>" method="post" enctype="multipart/form-data">

<input name="form_key" value="<?php echo $this->getFormKey(); ?>" type="hidden" />

<div class="entry-edit" id="magento_block_amazon_template_selling_format_general">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('General'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="title"><?php echo Mage::helper('M2ePro')->__('Title'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="title" name="title" value="<?php echo $this->escapeHtml($formData['title']); ?>" type="text" class="input-text required-entry M2ePro-price-tpl-title"/>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Short meaningful Policy Title for your internal use.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_amazon_template_selling_format_qty">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Quantity'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0" cellpadding="0">

                <tr>
                    <td class="label">
                        <label for="qty_mode"><?php echo Mage::helper('M2ePro')->__('Quantity'); ?>: </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input type="hidden" id="qty_custom_attribute" name="qty_custom_attribute" value="<?php echo $formData['qty_custom_attribute']; ?>"/>

                        <select id="qty_mode" name="qty_mode" class="M2ePro-custom-attribute-can-be-created" allowed_attribute_types="text">
                            <option id="qty_mode_product" value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_PRODUCT; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_PRODUCT == $formData['qty_mode']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Product Quantity'); ?></option>
                            <option id="qty_mode_single" value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_SINGLE; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_SINGLE == $formData['qty_mode']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Single Item'); ?></option>
                            <option id="qty_mode_cv" value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_NUMBER; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_NUMBER == $formData['qty_mode']) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Value'); ?></option>

                            <optgroup class="M2ePro-custom-attribute-optgroup" label="Magento Attribute" new_option_value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_ATTRIBUTE; ?>">
                                <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_PRODUCT_FIXED; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_PRODUCT_FIXED == $formData['qty_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('QTY'); ?></option>
                                <?php foreach($attributesByInputTypes['text'] as $attribute) : ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_ATTRIBUTE; ?>" <?php if ($formData['qty_mode'] == Ess_M2ePro_Model_Template_SellingFormat::QTY_MODE_ATTRIBUTE && $attribute['code'] == $formData['qty_custom_attribute']): ?>selected="selected"<?php endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Product Quantity for Amazon Listing(s).'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="qty_custom_value_tr" style="display: none;">
                    <td class="label">
                        <label for="qty_custom_value"><?php echo Mage::helper('M2ePro')->__('Quantity Value'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input id="qty_custom_value" name="qty_custom_value" value="<?php echo $this->escapeHtml($formData['qty_custom_value']); ?>" type="text" class="input-text M2ePro-required-when-visible validate-digits" />
                    </td>
                </tr>

                <tr id="qty_percentage_tr" style="display: none;">
                    <td class="label">
                        <label for="qty_percentage"><?php echo Mage::helper('M2ePro')->__('Quantity Percentage'); ?>: </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="qty_percentage" name="qty_percentage" class="required-entry">
                            <?php for ($i = 100; $i >= 5; $i -= 5) : ?>
                                <option value="<?php echo $i; ?>" <?php if ($formData['qty_percentage'] == $i) : echo ' selected="selected"'; endif; ?>><?php echo $i; ?> %</option>
                            <?php endfor; ?>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Sets the percentage for calculation of Items number to be Listed on Amazon basing on Product Quantity or Magento Attribute. <br/><br/>
                            E.g., if QTY percentage is set to 10% and Product Quantity is 100, the Quantity to be Listed on Amazon will be calculated as <br/> 100 * 10% = 10.
                        '); ?></span>
                        </p>
                    </td>
                </tr>

                <!-- Max Posted QTY-->
                <tr id="qty_modification_mode_tr" style="display: none;">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Conditional Quantity'); ?>: </label>
                    </td>
                    <td class="value" style="width: auto;">
                        <select id="qty_modification_mode" name="qty_modification_mode" class="required-entry">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_SellingFormat::QTY_MODIFICATION_MODE_OFF; ?>" <?php if ($formData['qty_modification_mode'] == Ess_M2ePro_Model_Amazon_Template_SellingFormat::QTY_MODIFICATION_MODE_OFF): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Disabled'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_SellingFormat::QTY_MODIFICATION_MODE_ON; ?>" <?php if ($formData['qty_modification_mode'] == Ess_M2ePro_Model_Amazon_Template_SellingFormat::QTY_MODIFICATION_MODE_ON): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Enabled'); ?></option>
                        </select>
                            <p class="note">
                                <span><?php echo Mage::helper('M2ePro')->__('<b>Enables</b> to set the Quantity that will be sent on Amazon.'); ?></span>
                            </p>
                    </td>
                </tr>

                <tr id="qty_min_posted_value_tr" style="display: none;">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Minimum Quantity to Be Listed'); ?>: <span class="required">*</span></label>
                    </td>
                    <td id="qty_min_posted_value_td" class="value" style="width: auto;">
                        <input id="qty_min_posted_value" name="qty_min_posted_value" value="<?php echo $this->escapeHtml($formData['qty_min_posted_value']); ?>" type="text" class="input-text validate-qty M2ePro-required-when-visible" />
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('If you have 2 pieces in Stock but set a Minimum Quantity to Be Listed of 5, Item will not be Listed on Amazon.
                            Otherwise, the Item will be Listed with Quantity according to the Settings in the Selling Format Policy.
'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="qty_max_posted_value_tr" style="display: none;">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('Maximum Quantity to Be Listed'); ?>: <span class="required">*</span></label>
                    </td>
                    <td id="qty_max_posted_value_td" class="value" style="width: auto;">
                        <input id="qty_max_posted_value" name="qty_max_posted_value" value="<?php echo $this->escapeHtml($formData['qty_max_posted_value']); ?>" type="text" class="input-text validate-qty M2ePro-required-when-visible" />
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('If you have 5 pieces in Stock but set a Maximum Quantity of 2 to be Listed, a QTY of 2 will be Listed on Amazon.
                                                                         If you have 1 piece in Stock but Maximum Quantity is set to 3, only 1 will be Listed on Amazon.'); ?></span>
                        </p>
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

<div class="entry-edit" id="magento_block_amazon_template_selling_format_prices">

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('M2ePro')->__('Price'); ?></h4>
    </div>

    <div class="fieldset">
        <div class="hor-scroll">

            <table id="price_table" cellspacing="0" class="form-list">

                <tr>
                    <td class="label">
                        <label for="price_mode"><?php echo Mage::helper('M2ePro')->__('Price'); ?>:</label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="price_custom_attribute" name="price_custom_attribute" value="<?php echo $formData['price_custom_attribute']; ?>"/>

                        <select id="price_mode" name="price_mode" class="select-main required-entry M2ePro-custom-attribute-can-be-created" allowed_attribute_types="text,price">
                            <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_PRODUCT; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::PRICE_PRODUCT == $formData['price_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Product Price'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_SPECIAL; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::PRICE_SPECIAL == $formData['price_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Special Price'); ?></option>

                            <optgroup class="M2ePro-custom-attribute-optgroup" label="Magento Attribute">
                                <?php foreach($attributesByInputTypes['text_price'] as $attribute) : ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_ATTRIBUTE; ?>" <?php if ($formData['price_mode'] == Ess_M2ePro_Model_Template_SellingFormat::PRICE_ATTRIBUTE && $attribute['code'] == $formData['price_custom_attribute']): ?>selected="selected"<?php endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span id="price_note"></span>
                        </p>
                    </td>
                    <td id="price_coefficient_td" class="coef">
                        <div style="font-size: 11px; float: right; padding-left: 10px;">
                            <img src="<?php echo $this->getSkinUrl('M2ePro/images/note_cell_bg.gif'); ?>" />
                            <span style="padding-left: 5px;"><?php echo Mage::helper('M2ePro')->__('Absolute figure (+8,-3), percentage (+15%, -20%) or Currency rate (1.44)'); ?>.</span>
                        </div>
                        <input id="price_coefficient" name="price_coefficient" value="<?php echo $this->escapeHtml($formData['price_coefficient']); ?>" type="text" class="M2ePro-validate-price-coefficient input-text" />
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="price_variation_mode"><?php echo Mage::helper('M2ePro')->__('Variation Price Source'); ?>:</label>
                    </td>
                    <td class="value">
                        <select id="price_variation_mode" name="price_variation_mode" class="select-main">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_SellingFormat::PRICE_VARIATION_MODE_PARENT; ?>" <?php if (Ess_M2ePro_Model_Amazon_Template_SellingFormat::PRICE_VARIATION_MODE_PARENT == $formData['price_variation_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Main Product'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_SellingFormat::PRICE_VARIATION_MODE_CHILDREN; ?>" <?php if (Ess_M2ePro_Model_Amazon_Template_SellingFormat::PRICE_VARIATION_MODE_CHILDREN == $formData['price_variation_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Associated Products'); ?></option>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Determines where the Price for Configurable and Bundle Products Options should be taken from.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label for="map_price_mode"><?php echo Mage::helper('M2ePro')->__('Minimum Advertised Price'); ?>:</label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="map_price_custom_attribute" name="map_price_custom_attribute" value="<?php echo $formData['map_price_custom_attribute']; ?>"/>

                        <select id="map_price_mode" name="map_price_mode" class="select-main required-entry M2ePro-custom-attribute-can-be-created" allowed_attribute_types="text,price">
                            <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_NONE; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::PRICE_NONE == $formData['map_price_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('None'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_PRODUCT; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::PRICE_PRODUCT == $formData['map_price_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Product Price'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_SPECIAL; ?>" <?php if (Ess_M2ePro_Model_Template_SellingFormat::PRICE_SPECIAL == $formData['map_price_mode']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Special Price'); ?></option>

                            <optgroup class="M2ePro-custom-attribute-optgroup" label="Magento Attribute">
                                <?php foreach($attributesByInputTypes['text_price'] as $attribute) : ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_ATTRIBUTE; ?>" <?php if ($formData['map_price_mode'] == Ess_M2ePro_Model_Template_SellingFormat::PRICE_ATTRIBUTE && $attribute['code'] == $formData['map_price_custom_attribute']): ?>selected="selected"<?php endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <?php echo Mage::helper('M2ePro')->__('The Selling Price for your Product will not be displayed on the Product Detail Page or Offer Listing Page if it is less than the Minimum Advertised Price. The Customer only sees the Price you\'re selling the Item for if they add the Item to their Shopping Cart.') ?>
                        </p>
                    </td>
                </tr>

            </table>

            <table cellspacing="0" class="form-list">

                <tr>
                    <td class="label">
                        <label for="sale_price_mode"><?php echo Mage::helper('M2ePro')->__('Sale Price'); ?>:</label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="sale_price_custom_attribute" name="sale_price_custom_attribute" value="<?php echo $formData['sale_price_custom_attribute']; ?>"/>

                        <select id="sale_price_mode" name="sale_price_mode" class="select-main required-entry M2ePro-custom-attribute-can-be-created" allowed_attribute_types="text,price">
                            <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_NONE; ?>" <?php if ($formData['sale_price_mode'] == Ess_M2ePro_Model_Template_SellingFormat::PRICE_NONE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('None'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_PRODUCT; ?>" <?php if ($formData['sale_price_mode'] == Ess_M2ePro_Model_Template_SellingFormat::PRICE_PRODUCT) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Product Price'); ?></option>
                            <option value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_SPECIAL; ?>" <?php if ($formData['sale_price_mode'] == Ess_M2ePro_Model_Template_SellingFormat::PRICE_SPECIAL) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Special Price'); ?></option>

                            <optgroup class="M2ePro-custom-attribute-optgroup" label="Magento Attribute">
                                <?php foreach($attributesByInputTypes['text_price'] as $attribute) : ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Template_SellingFormat::PRICE_ATTRIBUTE; ?>" <?php if ($formData['sale_price_mode'] == Ess_M2ePro_Model_Template_SellingFormat::PRICE_ATTRIBUTE && $attribute['code'] == $formData['sale_price_custom_attribute']): ?>selected="selected"<?php endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span id="sale_price_note"></span>
                        </p>
                    </td>
                    <td id="sale_price_coefficient_td" class="coef" <?php if ($formData['sale_price_mode'] == Ess_M2ePro_Model_Template_SellingFormat::PRICE_NONE) echo 'style="display: none;"'; ?>>
                        <div style="font-size: 11px; float: right; padding-left: 10px;">
                            <img src="<?php echo $this->getSkinUrl('M2ePro/images/note_cell_bg.gif'); ?>" />
                            <span style="padding-left: 5px;"><?php echo Mage::helper('M2ePro')->__('Absolute figure (+8,-3), percentage (+15%, -20%) or Currency rate (1.44)'); ?>.</span>
                        </div>
                        <input id="sale_price_coefficient" name="sale_price_coefficient" value="<?php echo $this->escapeHtml($formData['sale_price_coefficient']); ?>" type="text" class="M2ePro-validate-price-coefficient input-text" />
                    </td>
                </tr>

            </table>

            <table cellspacing="0" class="form-list">

                <tr id="sale_price_start_date_mode_tr" style="display: none;">
                    <td class="label">
                        <label for="sale_price_start_date_mode"><?php echo Mage::helper('M2ePro')->__('Start Date'); ?>: </label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="sale_price_start_date_custom_attribute" name="sale_price_start_date_custom_attribute" value="<?php echo $formData['sale_price_start_date_custom_attribute'];?>"/>

                        <select id="sale_price_start_date_mode" class="M2ePro-custom-attribute-can-be-created" allowed_attribute_types="text,date" name="sale_price_start_date_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_VALUE; ?>" <?php if ($formData['sale_price_start_date_mode'] == Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_VALUE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Value'); ?></option>

                            <optgroup class="M2ePro-custom-attribute-optgroup" label="Magento Attribute">
                                <?php foreach($attributesByInputTypes['text_date'] as $attribute) : ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_ATTRIBUTE; ?>" <?php if ($formData['sale_price_start_date_mode'] == Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_ATTRIBUTE && $attribute['code'] == $formData['sale_price_start_date_custom_attribute']): ?>selected="selected"<?php endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Time and date when the <i>Sale Price</i> will be displayed on Amazon.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="sale_price_start_date_value_tr" style="display: none;">
                    <td class="label">
                        <label for="sale_price_start_date_value"><?php echo Mage::helper('M2ePro')->__('Start Date Value'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="sale_price_start_date_value" name="sale_price_start_date_value" value="<?php echo $formData['sale_price_start_date_value']; ?>" type="text" class="input-text M2ePro-required-when-visible M2ePro-input-datetime" />
                        <script type="text/javascript">
                        //<![CDATA[
                            Calendar.setup({
                                inputField: "sale_price_start_date_value",
                                ifFormat: "%Y-%m-%d",
                                showsTime: false,
                                button: "sale_price_start_date",
                                align: "Bl",
                                singleClick : true
                            });
                        //]]>
                        </script>
                    </td>
                </tr>

                <tr id="sale_price_end_date_mode_tr" style="display: none;">
                    <td class="label">
                        <label for="sale_price_end_date_mode"><?php echo Mage::helper('M2ePro')->__('End Date'); ?>: </label>
                    </td>
                    <td class="value">
                        <input type="hidden" id="sale_price_end_date_custom_attribute" name="sale_price_end_date_custom_attribute" value="<?php echo $formData['sale_price_end_date_custom_attribute'];?>"/>

                        <select id="sale_price_end_date_mode" class="M2ePro-custom-attribute-can-be-created" allowed_attribute_types="text,date" name="sale_price_end_date_mode">
                            <option value="<?php echo Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_VALUE; ?>" <?php if ($formData['sale_price_end_date_mode'] == Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_VALUE) echo ' selected="selected"'; ?>><?php echo Mage::helper('M2ePro')->__('Custom Value'); ?></option>

                            <optgroup class="M2ePro-custom-attribute-optgroup" label="Magento Attribute">
                                <?php foreach($attributesByInputTypes['text_date'] as $attribute) : ?>
                                    <option attribute_code="<?php echo $attribute['code']; ?>" value="<?php echo Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_ATTRIBUTE; ?>" <?php if ($formData['sale_price_end_date_mode'] == Ess_M2ePro_Model_Amazon_Template_SellingFormat::DATE_ATTRIBUTE && $attribute['code'] == $formData['sale_price_end_date_custom_attribute']): ?>selected="selected"<?php endif; ?>>
                                        <?php echo Mage::helper('M2ePro')->escapeHtml($attribute['label']); ?>
                                    </option>
                                <?php endforeach; ?>
                            </optgroup>
                        </select>
                        <p class="note">
                            <span><?php echo Mage::helper('M2ePro')->__('Time and date when the <i>Sale Price</i> will be hidden on Amazon.'); ?></span>
                        </p>
                    </td>
                </tr>

                <tr id="sale_price_end_date_value_tr" style="display: none;">
                    <td class="label">
                        <label for="sale_price_end_date_value"><?php echo Mage::helper('M2ePro')->__('End Date Value'); ?>: <span class="required">*</span></label>
                    </td>
                    <td class="value">
                        <input id="sale_price_end_date_value" name="sale_price_end_date_value" value="<?php echo $formData['sale_price_end_date_value']; ?>" type="text" class="input-text M2ePro-required-when-visible M2ePro-input-datetime" />
                        <script type="text/javascript">
                        //<![CDATA[
                            Calendar.setup({
                                inputField: "sale_price_end_date_value",
                                ifFormat: "%Y-%m-%d",
                                showsTime: false,
                                button: "sale_price_end_date",
                                align: "Bl",
                                singleClick : true
                            });
                        //]]>
                        </script>
                    </td>
                </tr>

            </table>

            <table cellspacing="0" class="form-list">

                <tr>
                    <td class="label">
                        <label for="price_increase_vat_percent"><?php echo Mage::helper('M2ePro')->__('Add VAT Percentage'); ?>:</label>
                    </td>
                    <td class="value">
                        <select id="price_increase_vat_percent" name="price_increase_vat_percent" class="select-main required-entry">
                            <option value="0" <?php if (!$formData['price_vat_percent']): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('No'); ?></option>
                            <option value="1" <?php if ($formData['price_vat_percent'] > 0): echo ' selected="selected"'; endif; ?>><?php echo Mage::helper('M2ePro')->__('Yes'); ?></option>
                        </select>
                        <p class="note">
                            <?php echo Mage::helper('M2ePro')->__('
                                Choose whether you want to add VAT to the Price when a Product is Listed on Amazon and
                                provide the appropriate VAT Percent Value.<br/><br/>

                                <strong>Example:</strong>
                                For a Product with Magento Price = £10<br/>
                                VAT Rate = 15%<br/>
                                Magento Price: £10<br/>
                                VAT 15%: £10 * 15% = £1.50<br/>
                                Final Price on Amazon (Magento Price + VAT) = £10 + £1.50 = £11.50<br/><br/>

                                <strong>Note:</strong> No VAT Rate Value will be sent on Amazon. Only the Item\'s Price
                                on Amazon will be increased.
                            ') ?>
                        </p>
                    </td>
                </tr>

                <tr id="price_vat_percent_tr">
                    <td class="label">
                        <label><?php echo Mage::helper('M2ePro')->__('VAT Rate, %'); ?>:</label>
                    </td>
                    <td class="value" style="width: auto;">
                        <input id="price_vat_percent" name="price_vat_percent" value="<?php echo $formData['price_vat_percent']; ?>" type="text" class="M2ePro-validate-vat-percent input-text" />
                    </td>
                </tr>

            </table>

        </div>
    </div>

</div>

</form>